<p> <strong>Goal:</strong> <%= goal.title %> </p>
<p> <strong>Description:</strong> <%= goal.description %> </p>
<p> <strong>Deadline:</strong> <%= goal.deadline %> </p>
<button type="button" class="btn btn-primary btn-xs add-goal-button" data-toggle="modal" data-target="#myModal" id="parent-<%= goal.id %>">
  New Sub Goal
</button>