<h3> <%= goal.title %>  </h3>
<p> <%= goal.description %> </p>
<p> <strong>Deadline:</strong> <%= goal.deadline %> </p>
<button type="button" class="btn btn-primary btn-small add-goal-button" data-toggle="modal" data-target="#myModal" id="parent-<%= goal.id %>">
  New Sub Goal
</button>