<script>
$(document).ready(function() {
  $("#repeat-stat-form").hide();
  $("#hardcode-time").hide();
  $(".colorpicker").colorpicker();
  $("#color-select-goal").hide();
});
$(document).on("click", ".add-goal-button", function(e) {
  var btnid = $(this).attr('id');
  var parent_id = btnid.split("-")[1];
  $('#goal_parent_id').attr('value', parent_id);
  console.log(parent_id);
});

$(document).on("click", "#goal_repeat", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#repeat-stat-form").show();
  } else {
    $("#repeat-stat-form").hide();
  }
});

$(document).on("click", "#goal_hardcode_time", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#hardcode-time").show();
    $("#deadline-select-div").hide();
  } else {
    $("#hardcode-time").hide();
    $("#deadline-select-div").show();
  }
});

$(document).on("click", "#goal_pick_color", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#color-select-goal").show();
  } else {
    $("#color-select-goal").hide();
  }
});

</script>


<h2> Editing </h2>
<%= render 'edit' %>
