<script>
$(document).ready(function() {
  $("#repeat-stat-form").hide();
  $("#hardcode-time").hide();
});
$(document).on("click", ".add-goal-button", function(e) {
  var btnid = $(this).attr('id');
  var parent_id = btnid.split("-")[1];
  $('#goal_parent_id').attr('value', parent_id);
  console.log(parent_id);
});

$(document).on("click", "#goal_repeatable", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#repeat-stat-form").show();
  } else {
    $("#repeat-stat-form").hide();
  }
});

$(document).on("click", "#goal_hardcode_time", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#hardcode-time").show();
    $("#deadline-select-div").hide();
  } else {
    $("#hardcode-time").hide();
    $("#deadline-select-div").show();
  }
});


</script>

<h2> All Goals </h2>
<ul class="goals">
  <% @root_goals.each do |goal| %>
    <%= render 'goaly', goal: goal %>
  <% end %>
</ul>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a New Goal</h4>
      </div>
      <div class="modal-body">
        <%= render 'homes/form' %>
      </div>
    </div>
  </div>
</div>
  
