// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goal {
  padding-bottom: 20px;
}

.goals li ul {
  padding-top: 20px;
}