<script>
$(document).ready(function() {
  $("#repeat-stat-form").hide();
  $("#hardcode-time").hide();
});

$(document).on("click", "#goal_repeatable", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#repeat-stat-form").show();
  } else {
    $("#repeat-stat-form").hide();
  }
});

$(document).on("click", "#goal_hardcode_time", function(e) {
  var val_stat = $(this).is(":checked");
  if (val_stat) {
    $("#hardcode-time").show();
    $("#deadline-select-div").hide();
  } else {
    $("#hardcode-time").hide();
    $("#deadline-select-div").show();
  }
});

</script>

<div id="calendar"></div>

<div id="interactionContainer"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#myModal">
  New Goal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a New Goal</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

