<h1><%= @a %> </h1>
<% @dates.each do |date| %>
  <h2> <%= date.to_s.split('-').reverse.join(' ') %> </h2>
  <h3> Goal: Transforming</h3>
  <p> <strong> Description: </strong> We have to do it like this </p>
  <p> <strong> Tasks: </strong> 1. 2. 3. </p>
<% end %>